* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}
body, html {
    padding: 0;
    margin: 0;
    background-color: #292929;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #a3a3a3;
}
canvas {
    position: absolute;
}
.panel {
    background-color: #383838;
}
#hierarchy {
    width: 15%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

#hierarchy > .game-object {
    padding: 3px;
    padding-left: 10px;
    cursor: pointer;
}
#hierarchy > .game-object:hover {
    background-color: #484848;
}

#scene-view {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
}
#game-view {
    position: absolute;
    width: 50%;
    bottom: 0;
    top: 0;
    left: 50%;
}

#editor {
    position: absolute;
    top: 0;
    bottom: 30%;
    left: 15%;
    right: 25%;
}

#project {
    position: absolute;
    bottom: 0;
    top: 70%;
    left: 15%;
    right: 15%;
}

#inspector {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100vh;
}

#inspector .component {
    border-bottom: solid 1px #292929;
    padding: 5px;
}

#inspector .component:last-child {
    border-bottom: none;
}

#inspector .component .component-property {
    display: table;
    margin-bottom: 5px;
}

#inspector .component .component-property .input-group {
    display: table-cell;
    vertical-align: middle;
    width: 75%;
}

#inspector .component .input-group div {
    display: table-cell;
    vertical-align: middle;
}

#inspector .component .input-group div span:last-child {
    width: 90%;
    display: inline-block;
    padding-left: 5px;
    padding-right: 10px;
}
#inspector .component .input-group div:last-child span:last-child {
    padding-right: 0;
}
#inspector .component .input-group div .input {
    width: 100%;
    font-size: 1rem;
    padding: 1px;
    border: none;
    margin: 0;
}

#inspector .component-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#inspector .property-name {
    display: table-cell;
    vertical-align: middle;
    min-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

#inspector .color-property {
    height: 20px;
    width: 100%;
    display: table-cell;
    cursor: pointer;
}