* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}
body, html {
    padding: 0;
    margin: 0;
    background-color: #292929;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #a3a3a3;
}
canvas {
    position: absolute;
}
.panel {
    background-color: #383838;
}

#toolbar {
    position: absolute;
    top: 0;
    height: 50px;
    left: 0;
    right: 0;
    background-color: transparent;
}

#toolbar .btn-group.execution > .btn {
    padding: 8px 10px;
}

#toolbar .center-block {
    padding: 5px;
}

#hierarchy {
    width: 15%;
    bottom: 0;
    position: absolute;
    left: 0;
    top: 50px;
}

#hierarchy > .game-object {
    padding: 3px;
    padding-left: 10px;
    cursor: pointer;
}
#hierarchy > .game-object:hover {
    background-color: #484848;
}

#hierarchy > .game-object.selected {
    background-color: #4f86f7;
    color: #ffffff;
}

#scene-view {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
}
#game-view {
    position: absolute;
    width: 50%;
    bottom: 0;
    top: 0;
    left: 50%;
}

#editor {
    position: absolute;
    top: 50px;
    bottom: 30%;
    left: 15%;
    right: 25%;
}

#project {
    position: absolute;
    bottom: 0;
    top: 70%;
    left: 15%;
    right: 15%;
}

#inspector {
    position: absolute;
    right: 0;
    top: 50px;
    width: 25%;
    bottom: 0;
    overflow: auto;
}

#inspector .component {
    border-bottom: solid 1px #292929;
    padding: 5px;
}

#inspector .component:last-child {
    border-bottom: none;
}

#inspector .component .component-property {
    /*display: table;*/
    margin-bottom: 5px;
    cursor: default;
    /*width: 100%;*/
}

#inspector .component .component-property .input-group {
    /*display: table-cell;*/
    vertical-align: middle;
    /*width: 75%;*/
}

#inspector .component .input-group div {
    display: table-cell;
    vertical-align: middle;
}

#inspector .component .input-group div span:last-child {
    width: 90%;
    display: inline-block;
    padding-left: 5px;
    padding-right: 10px;
}
#inspector .component .input-group div:last-child span:last-child {
    padding-right: 0;
}

#inspector .component-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: default;
}

#inspector .property-name {
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#inspector .color-property {
    height: 20px;
    width: 100%;
    display: table-cell;
    cursor: pointer;
}

#inspector .component-list {
    background-color: #313131;
    position: absolute;
    height: 400px;
    width: 75%;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 10px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border: solid 1px #585858;
}

#inspector .component-list .component-search-area {
    padding: 10px;
}
#inspector .component-list .component-search {
    padding: 5px;
    border-radius: 3px;
}
#inspector .component-list .componet-item-list a {
    display: block;
    color: #a3a3a3;
    text-decoration: none;
    padding: 5px;
}
#inspector .component-list .componet-item-list a:hover {
    background-color: #4f86f7;
    color: #ffffff;
}
#inspector .component-list .component-header {
    background-color: #3e3e3e;
    font-weight: bold;
    padding: 10px;
    border-top: solid 1px #292929;
    border-bottom: solid 1px #292929;
}