<html>
<head>
    <title>Game Engine</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/color.css">
</head>
<body>
    <section id="color-picker">
        <canvas id="colors" width="300" height="300"></canvas>
        <canvas id="hues" width="20" height="300"></canvas>
    </section>
    <script>require('../../controllers/color');</script>
    <script src="../../../gameEngine.js"></script>
    <script src="../../../gameEditor.js"></script>
</body>
</html>