<html>
<head>
    <title>SpyNgin</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <section id="hierarchy" class="panel"></section>
    <section id="editor" class="panel">
        <div id="scene-view">
            <canvas id="background"></canvas>
            <canvas id="scene"></canvas>
        </div>
        <!--<div id="game-view">
            <canvas id="game"></canvas>
        </div>-->
    </section>
    <section id="inspector" class="panel" data-gameobject-id=""></section>
    <section id="project"></section>
    <script>require('../../controllers/main');</script>
    <script src="../../../reflect.js"></script>
    <script src="../../../gameEngine.js"></script>
    <script src="../../../gameEditor.js"></script>
</body>
</html>