<html>

<head>
    <title>Selector</title>
    <link rel="stylesheet" href="../styles/master.css">
    <link rel="stylesheet" href="../styles/selector.css">
</head>

<body>
    <div class="container-fluid">
        <div class="main-row">
            <div class="col-12">
                <input type="text" id="query">
            </div>
        </div>
        <div class="row">
            <div class="col-12 item-list">

            </div>
        </div>
    </div>
    <script>require('../../controllers/selector');</script>
    <!--<script src="../../../gameEngine.js"></script>
    <script src="../../../gameEditor.js"></script>-->
</body>

</html>